@keyframes FadeIn {
  0% {
    opacity: 0;
  }


  100% {
    opacity: 1;
  }
}

@keyframes FadeOut {
  0% {
    opacity: 1;
  }


  100% {
    opacity: 0;
  }
}

.ModalWrapper{
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
 background-color: white;

}

.fadeIn{
  animation-name: FadeIn;
  animation-duration: .5s;
}

.fadeOut{
  animation-name: FadeOut;
  animation-duration: .3s;
}

.ModalBody{


  width: 90%;
  height: 90%;

  background-color: bisque;
}